:root {
    --bg-color: rgba(0, 0, 0, 0.5);
    --text-color: #fff;
    --highlight-color: #db98ff;
    --shadow-color: #000;
    --font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--text-color);
}

.title, .subtitle {
    text-align: center;
    color: var(--text-color);
    font-family: var(--font-family);
    padding: 5px 0;
    width: 100%;
}

.title {
    background: linear-gradient(90deg, rgb(12, 0, 99) 0%, rgb(12, 0, 99) 33%, rgb(12, 0, 99) 100%);
    font-size: 18pt;
}

.subtitle {
    background: linear-gradient(90deg, rgb(37, 2, 92) 0%, rgb(79, 194, 223) 33%, rgba(142, 225, 245) 100%);
    font-size: 10pt;
}

.overlay {
    font-size: 10pt;
    text-align: left;
    position: absolute;
    padding: 10px;
    color: var(--text-color);
    z-index: 10;
}

.overlay-div0 {
    top: 80px;
    right: 20px;
    width: 280px;
    height: 95px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #2b6b8f;
    opacity: 0.90;
    background-color: #110228;
}

.overlay-div1 {
    top: 80px;
    left: 20px;
    width: 305px;
    height: 95px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #2b6b8f;
    opacity: 0.90;
    background-color: #110228;
}

.overlay-div2 {
    top: 210px;
    left: 20px;
    width: 305px;
    height: 74%;
    opacity: 1.0;
}

.overlay-div3 {
    top: 200px;
    right: 10px;
    width: 280px;
    height: 74%;
    opacity: 0.9;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #2b6b8f;
    opacity: 0.90;
    background-color: #110228;
}

.custom-div {
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 10px;
    color: var(--text-color);
}

country {
	color: "#a79de6";
}